@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Alexandria", Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}

input::placeholder {
  padding: 8px;
  font-family: "Alexandria", "Arial";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-bg: #edf2f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "DaCherry";
  src: url("/fonts/Dacherry.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.input {
  padding: 4px 8px;
}

input:focus {
  outline: none;
}

.inputContainer {
  position: relative;
}

.lupaIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

button:hover {
  cursor: pointer;
  opacity: 60%;
}

.main {
  margin: 60px 24px;
}

.imgContainer {
  border-radius: 20px;
}

.buttonContent {
  padding: 4px 18px;
}

.estacao {
  padding: 10px;
}
